<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% for (e of err) { %>
            <div class="user-message user-message--error">* <%= e.msg %></div>
        <% } %>
        <form class="login-form" action="/register" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= oldData.name %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldData.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldData.password %>">
            </div>
            <div class="form-control">
                <label for="repeatPassword">Confirm Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.path === 'repeatPassword') ? 'invalid' : '' %>"
                    type="password" 
                    name="repeatPassword" 
                    id="repeatPassword" 
                    value="<%= oldData.confirmPassword %>">
            </div>
            
            Already have account? <a href="/login">login</a>
            <br>
            <br>
            <button class="btn" type="submit">Register</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>