<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="user-message user-message--error" id="error" hidden>* <%= err %></div>
        <main>
            <% if (prods.length > 0) { let total = 0;%>
                <div id="cart">
                    <ul class="cart__item-list">
                        <% prods.forEach(p => { %>
                            <li class="cart__item">
                                <h1><%= p.product.title %></h1>
                                <h2>Quantity: <%= p.quantity %></h2>
                                <h2>Price: <% total += p.product.price * p.quantity %> <%= p.product.price * p.quantity %></h2>
                                <button class="btn danger" type="button" onclick="removeFromCart(this, '<%= p.product._id %>')">Delete</button>
                            </li>
                        <% }) %>
                    </ul>
                    <hr>
                    <div class="centered">
                        <h3>Total Price: $<h3 id="total"><%= total %></h3></h3><br>
                        <button class="btn" type="button" id="order-btn">Order Now!</a>
                    </div>
                </div>
                <h1 id="empty" hidden>No Products in Cart!</h1>
            <% } else { %>
                <h1 id="empty">No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/shop.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('pk_test_51OjEp7ElLr217bS3Uq7nkqkRWQrzBEgVcTu573IlP3iFceUJttbpcMp2AMLv1VMrOKvDyWVj7zkUvCzfYI7546m800Ora4t6m9');
            var orderBtn = document.getElementById('order-btn');
            orderBtn.addEventListener('click', function() {
                orderBtn.disabled = true;
                fetch('/checkout', {
                    method: 'GET',
                }).then(result => {
                    if (!result.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return result.json();
                })
                .then(data => {
                    if(data.err) {
                        let element = document.getElementById('error');
                        element.innerText = data.err;
                        element.hidden = false;
                        orderBtn.disabled = true;
                    }
                    else {
                        stripe.redirectToCheckout({
                            sessionId: data.sessionId
                        });
                    }
                }).catch(err => console.log(err));
            });
        </script>