<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if(err) { %>
            <div class="user-message user-message--error">* <%= err %></div>
        <% } %>
        <main>
            <% if (prods.length > 0) { let total = 0;%>
                <div id="cart">
                    <ul class="cart__item-list">
                        <% prods.forEach(p => { %>
                            <li class="cart__item">
                                <h1><%= p.product.title %></h1>
                                <h2>Quantity: <%= p.quantity %></h2>
                                <h2>Price: <% total += p.product.price * p.quantity %> <%= p.product.price * p.quantity %></h2>
                                <button class="btn danger" type="button" onclick="removeFromCart(this, '<%= p.product._id %>')">Delete</button>
                            </li>
                        <% }) %>
                    </ul>
                    <hr>
                    <div class="centered">
                        <h3>Total Price: $<h3 id="total"><%= total %></h3></h3><br>
                        <a href="/checkout" class="btn">Order Now!</a>
                    </div>
                </div>
                <h1 id="empty" hidden>No Products in Cart!</h1>
            <% } else { %>
                <h1 id="empty">No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/shop.js"></script>